@use 'vars';
@use 'components/header';
@use 'components/aside';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-family: vars.$font-family;
  color: vars.$dark-grayish-blue;
}

body {
  position: relative;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--alt{
    border: none;
    background-color: vars.$soft-red;
  }
}

.hero img {
  width: 240px;
}